.Header {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 10px 25px;

}

.HeaderNav a {
    color: black;
    font-size: 22px;
    font-weight: bold;
    margin: 0 8px;
    padding: 3px;
    text-decoration: none;
}

.Form {
    display: flex;
    flex-direction: column;
    max-width: 375px;
}

.UserProfile{
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px;
}

.UserProfile img {
    max-width: 30vw;
}

.PostCard{
    background-color: lightgrey;
    justify-items: center;
    max-width: 30vw;
    min-width: 30vw;
    padding: 20px;
    border-radius: 20px;
}

.PostCard img {
    max-width: 30vw;
    max-height: 30vw;
    justify-self: center;
}

.postsContainer {
    display: grid;
    justify-items: center;
    grid-gap: 10px 10px;
    grid-template-columns: repeat(2, 1fr);
}